urxvt.depth:        32
urxvt.background:   [93]#101010

URxvt*dynamicColors: on

URxvt.font: xft:Hack:size=11,xft:LiberationMono:size=10,xft:Liberation Mono for Powerline:size=10

URxvt*foreground:   #B2B2B2
URxvt*cursorColor:  #FFFFFF

URxvt*color0:       #303030
URxvt*color1:       #E1321A
URxvt*color2:       #6AB017
URxvt*color3:       #FFC005
URxvt*color4:       #004F9E
URxvt*color5:       #EC0048
URxvt*color6:       #2AA7E7
URxvt*color7:       #F2F2F2
URxvt*color8:       #5D5D5D
URxvt*color9:       #FF361E
URxvt*color10:      #7BC91F
URxvt*color11:      #FFD00A
URxvt*color12:      #0071FF
URxvt*color13:      #FF1D62
URxvt*color14:      #4BB8FD
URxvt*color15:      #A020F0

URxvt*scrollBar: False

Emacs.font: Hack:size=16

! Rofi colour theme taken from Rofi colour themes
! ------------------------------------------------------------------------------
! ROFI Color theme
! Copyright: Étienne Deparis
! ------------------------------------------------------------------------------
! "Color scheme for normal row" Set from: File
rofi.color-normal:                   argb:00272822, #f8f8f2, argb:00272822, #141411, #f8f8f2
! "Color scheme for urgent row" Set from: File
rofi.color-urgent:                   argb:00272822, #f92672, argb:00272822, #f92672, #f8f8f2
! "Color scheme for active row" Set from: File
rofi.color-active:                   argb:00272822, #a6e22a, argb:00272822, #141411, #a6e22a
! "Color scheme window" Set from: File
rofi.color-window:                   argb:ee272822, #002b36, #e6db74
! "Separator style (none, dash, solid)" Set from: File
rofi.separator-style:                solid

